<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2025 PaSS Lab</p>
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		<p>		  Address:<br />
			PGH 309
		 <br />
		  Department of Computer Science <br />
		  University of Houston<br />
		  Houston, TX  77204-3010<br /></p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
			ashokri@uh.edu
		 
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
